# Introduction

TODO

In [1]:
import os

import pandas as pd

from grid2bench.AgentsAnalytics import AgentsAnalytics as aa
from grid2bench.AgentsAnalytics import AgentsAnalytics
import warnings
import ipywidgets as widgets
from ipywidgets import interact

warnings.filterwarnings("ignore")

In [2]:
input_data_path = os.path.abspath("../data/input")

TOC
- [Results loading](#results_loading)
- [Cumulative reward](#cumulative_reward)
- [Actions frequency](#actions_frequency)
- [Impact of actions on objects](#actions_impact)
- [Action execution time](#execution_time)
- [Actions sequence length](#sequence_length)

# <a class="anchor" id="results_loading">Results loading</a>

### Option 2 : Loading all agents results using Agents_Analysis class

In [3]:
agents = AgentsAnalytics(
    data_path=input_data_path,
    agents_names= ["PPO_Agent", "MazeRL_Agent", "IEE_PPO_Agent" ],
   
) #  episodes_names= ['dec16_1', 'dec16_2']

100%|██████████| 24/24 [01:02<00:00,  2.59s/it]
100%|██████████| 24/24 [01:09<00:00,  2.91s/it]
100%|██████████| 24/24 [01:08<00:00,  2.84s/it]

In [22]:
agents.episodes_names = agents.agents_data[0].episodes_names

agents_results = agents.agents_data

ppo_agent = agents_results[0]
mazerl_agent = agents_results[1]
iee_ppo_agent = agents_results[2]

# <a class="anchor" id="cumulatives_reward">Cumulative rewards</a>

In [23]:
agents.plot_cumulative_reward(agents_results)

# <a class="anchor" id="actions_frequency">Actions frequency</a>
### 1. Actions frequency by type

In [24]:
chart_title = "Frenquency of unitary actions by type"

aa.plot_actions_freq_by_type(
    agents_results,
    col=3,
    title = chart_title
)

### 2. Actions frequency by station

In [25]:
chart_title = "Frequency of actions by station "

aa.plot_actions_freq_by_station_pie_chart(
    agents_results, 
    title = chart_title, 
    col=3)

In [26]:
ppo_agent.display_detailed_action_type()

'total Number of Tolopology changes:658'

Dropdown(description='Table', options=('Select', 'Tolopology', 'Force_line', 'Redispatching', 'Injection', 'Cu…

'total Number of Tolopology changes:658'

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': True, 'defau…

# <a class="anchor" id="actions_impact">Impact of actions on objects</a>
### 1. Impact on lines
#### 1.1 Overloaded lines

In [27]:
chart_title = "Overloaded lines"

aa.plot_lines_impact(
    agents_results,
    title= chart_title,
    yaxis_type = "linear")

#### 1.2 Disconnected lines

In [28]:
chart_title = "Disconnected lines"

aa.plot_lines_impact(
    agents_results, 
    fig_type = 'disconnected', 
    title = chart_title,
)
    
    #yaxis_type = "linear")

### 2. Impact on reference topology

In [29]:
w = widgets.Dropdown(
            options=agents.episodes_names,
            
            description='Episode',
        )
def f(x):
    display(aa.plot_distance_from_initial_topology(agents_results, episodes_names=[x]))
    
interact(f, x=w);

interactive(children=(Dropdown(description='Episode', options=('nov46_2', 'jan32_1', 'jan32_2', 'jun14_2', 'se…

### 3. Impact on substations

In [30]:
aa.plot_actions_freq_by_station(
    agents_results,
    yaxis_type = 'log'
)
    #yaxis_type = 'log')

# <a class="anchor" id="execution_time">Action execution time</a>

In [31]:
w = widgets.Dropdown(
            options=agents.episodes_names,
            
            description='Episode',
        )
def f(x):
    display(aa.plot_computation_times(agents_results, episodes_names=[x]))
    
interact(f, x=w);

interactive(children=(Dropdown(description='Episode', options=('nov46_2', 'jan32_1', 'jan32_2', 'jun14_2', 'se…

# <a class="anchor" id="sequence_length">Actions sequence length</a>

In [32]:
sequence_interval = range(0,15) 
bg = "rgba(0,0,0,0)"


    
    
def f(x):
    if not type(x)==list : eps = [x]
    else : eps =x

    display(agents.plot_actions_sequence_length(
           agents_results,
           episodes_names=eps,
           sequence_range = sequence_interval,
           plot_bgcolor = bg
       )
           )

interact(f, x=w);

interactive(children=(Dropdown(description='Episode', options=('nov46_2', 'jan32_1', 'jan32_2', 'jun14_2', 'se…

In [33]:
sequence_interval = range(0,15)

iee_ppo_agent.display_sequence_actions(
    sequence_range = sequence_interval
)

,Timestamp,Sequence start,Sequence end,Sequence length,NB actions,NB unitary actions,Impacted Subs,Impacted lines
0,[2012-11-12 08:50:00],2012-11-12 08:50:00,2012-11-12 08:50:00,1,2,23,"[[sub_1, sub_16]]",[[]]
1,[2012-11-12 09:00:00],2012-11-12 09:00:00,2012-11-12 09:00:00,1,2,23,"[[sub_1, sub_16]]",[[]]
2,"[2012-11-12 09:15:00, 2012-11-12 09:20:00, 201...",2012-11-12 09:15:00,2012-11-12 09:35:00,5,10,115,"[[sub_1, sub_16], [sub_1, sub_16], [sub_1, sub...","[[], [], [], [], []]"
3,"[2012-11-12 09:45:00, 2012-11-12 09:50:00, 201...",2012-11-12 09:45:00,2012-11-12 09:55:00,3,6,69,"[[sub_1, sub_16], [sub_1, sub_16], [sub_1, sub...","[[], [], []]"
4,"[2012-11-12 10:20:00, 2012-11-12 10:25:00, 201...",2012-11-12 10:20:00,2012-11-12 10:35:00,4,8,92,"[[sub_1, sub_16], [sub_1, sub_16], [sub_1, sub...","[[], [], [], []]"
...,...,...,...,...,...,...,...,...
439,[2012-07-13 18:10:00],2012-07-13 18:10:00,2012-07-13 18:10:00,1,1,6,[[sub_1]],[[]]
440,"[2012-07-14 03:35:00, 2012-07-14 03:40:00]",2012-07-14 03:35:00,2012-07-14 03:40:00,2,3,29,"[[sub_1, sub_16], [sub_1]]","[[], []]"
441,"[2012-04-10 08:20:00, 2012-04-10 08:25:00]",2012-04-10 08:20:00,2012-04-10 08:25:00,2,3,33,"[[sub_1, sub_16], [sub_23]]","[[], []]"
442,[2012-04-11 12:25:00],2012-04-11 12:25:00,2012-04-11 12:25:00,1,1,17,[[sub_16]],[[]]
443,"[2012-04-13 21:25:00, 2012-04-13 21:30:00]",2012-04-13 21:25:00,2012-04-13 21:30:00,2,2,15,"[[sub_28], [sub_23]]","[[], []]"

In [34]:
iee_ppo_agent.display_sequence_actions_filter(
    sequence_range = sequence_interval
)

            Timestamp  NB unitary actions    Impacted subs Impacted lines
0 2012-11-12 08:50:00                  23  [sub_1, sub_16]             []

            Timestamp  NB unitary actions    Impacted subs Impacted lines
1 2012-11-12 09:00:00                  23  [sub_1, sub_16]             []

            Timestamp  NB unitary actions    Impacted subs Impacted lines
2 2012-11-12 09:15:00                  23  [sub_1, sub_16]             []
3 2012-11-12 09:20:00                  23  [sub_1, sub_16]             []
4 2012-11-12 09:25:00                  23  [sub_1, sub_16]             []
5 2012-11-12 09:30:00                  23  [sub_1, sub_16]             []
6 2012-11-12 09:35:00                  23  [sub_1, sub_16]             []

            Timestamp  NB unitary actions    Impacted subs Impacted lines
7 2012-11-12 09:45:00                  23  [sub_1, sub_16]             []
8 2012-11-12 09:50:00                  23  [sub_1, sub_16]             []
9 2012-11-12 09:55:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
10 2012-11-12 10:20:00                  23  [sub_1, sub_16]             []
11 2012-11-12 10:25:00                  23  [sub_1, sub_16]             []
12 2012-11-12 10:30:00                  23  [sub_1, sub_16]             []
13 2012-11-12 10:35:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
14 2012-11-12 10:45:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
15 2012-11-12 10:55:00                  23  [sub_1, sub_16]             []
16 2012-11-12 11:00:00                  23  [sub_1, sub_16]             []
17 2012-11-12 11:05:00                  23  [sub_1, sub_16]             []
18 2012-11-12 11:10:00                  23  [sub_1, sub_16]             []
19 2012-11-12 11:15:00                  23  [sub_1, sub_16]    [43_44_125]
20 2012-11-12 11:20:00                  23  [sub_1, sub_16]    [43_44_125]

             Timestamp  NB unitary actions    Impacted subs Impacted lines
21 2012-11-12 11:45:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
22 2012-11-12 12:20:00                  23  [sub_1, sub_16]             []
23 2012-11-12 12:25:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
24 2012-11-12 12:35:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
25 2012-11-12 12:55:00                  23  [sub_1, sub_16]             []
26 2012-11-12 13:00:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
27 2012-11-12 13:15:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
28 2012-11-12 13:50:00                  23  [sub_1, sub_16]             []
29 2012-11-12 13:55:00                  23  [sub_1, sub_16]             []
30 2012-11-12 14:00:00                  23  [sub_1, sub_16]             []
31 2012-11-12 14:05:00                  23  [sub_1, sub_16]             []
32 2012-11-12 14:10:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
33 2012-11-12 14:30:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions Impacted subs Impacted lines
34 2012-11-12 14:55:00                  17      [sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
35 2012-11-13 02:35:00                  23  [sub_1, sub_16]             []
36 2012-11-13 02:40:00                  23  [sub_1, sub_16]             []
37 2012-11-13 02:45:00                  17         [sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
38 2012-11-13 08:50:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
39 2012-11-13 09:00:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions Impacted subs Impacted lines
40 2012-11-13 09:10:00                  10      [sub_23]             []

             Timestamp  NB unitary actions Impacted subs Impacted lines
41 2012-11-14 03:05:00                  10      [sub_23]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
42 2012-11-14 08:00:00                  23  [sub_1, sub_16]             []
43 2012-11-14 08:05:00                  10         [sub_23]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
44 2012-11-14 10:35:00                  23  [sub_1, sub_16]             []
45 2012-11-14 10:40:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
46 2012-11-14 11:00:00                  23  [sub_1, sub_16]             []
47 2012-11-14 11:05:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
48 2012-11-14 11:20:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
49 2012-11-14 11:35:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
50 2012-11-14 11:50:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions Impacted subs Impacted lines
51 2012-11-15 00:45:00                   5      [sub_28]             []
52 2012-11-15 00:50:00                  10      [sub_23]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
53 2012-01-02 22:10:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
54 2012-01-02 22:30:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
55 2012-01-02 22:40:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions Impacted subs Impacted lines
56 2012-01-02 23:40:00                   5      [sub_28]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
57 2012-01-19 07:40:00                  23  [sub_1, sub_16]             []
58 2012-01-19 07:45:00                  23  [sub_1, sub_16]             []
59 2012-01-19 07:50:00                  23  [sub_1, sub_16]             []
60 2012-01-19 07:55:00                  23  [sub_1, sub_16]             []
61 2012-01-19 08:00:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
62 2012-01-19 09:10:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
63 2012-01-19 09:25:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
64 2012-01-19 10:05:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
65 2012-01-19 11:15:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
66 2012-01-19 11:25:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
67 2012-01-19 11:40:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
68 2012-01-19 12:15:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
69 2012-01-19 12:25:00                  23  [sub_1, sub_16]             []
70 2012-01-19 12:30:00                  23  [sub_1, sub_16]             []
71 2012-01-19 12:35:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
72 2012-01-19 12:55:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
73 2012-01-19 13:10:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
74 2012-01-19 14:55:00                  17         [sub_16]             []
75 2012-01-19 15:00:00                  23  [sub_1, sub_16]             []
76 2012-01-19 15:05:00                  23  [sub_1, sub_16]             []
77 2012-01-19 15:10:00                  23  [sub_1, sub_16]             []
78 2012-01-19 15:15:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
79 2012-01-19 15:25:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
80 2012-01-19 15:35:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
81 2012-01-19 15:50:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
82 2012-01-19 16:10:00                  23  [sub_1, sub_16]             []
83 2012-01-19 16:15:00                  23  [sub_1, sub_16]             []
84 2012-01-19 16:20:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
85 2012-01-19 16:35:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
86 2012-01-19 16:50:00                  23  [sub_1, sub_16]             []
87 2012-01-19 16:55:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
88 2012-01-19 17:05:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
89 2012-01-19 17:15:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
90 2012-01-19 17:35:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
91 2012-01-19 17:50:00                  23  [sub_1, sub_16]             []
92 2012-01-19 17:55:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
93 2012-01-19 18:05:00                  23  [sub_1, sub_16]             []
94 2012-01-19 18:10:00                  17         [sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
95 2012-01-19 18:20:00                  23  [sub_1, sub_16]             []
96 2012-01-19 18:25:00                  23  [sub_1, sub_16]             []
97 2012-01-19 18:30:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions    Impacted subs Impacted lines
98 2012-01-19 18:45:00                  23  [sub_1, sub_16]             []

             Timestamp  NB unitary actions Impacted subs Impacted lines
99 2012-01-19 18:55:00                  17      [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
100 2012-01-19 21:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
101 2012-01-19 21:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
102 2012-01-19 22:00:00                  23  [sub_1, sub_16]             []
103 2012-01-19 22:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
104 2012-01-20 07:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
105 2012-01-20 07:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
106 2012-01-20 07:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
107 2012-01-20 07:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
108 2012-01-20 07:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
109 2012-01-20 08:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
110 2012-01-20 08:20:00                  23  [sub_1, sub_16]             []
111 2012-01-20 08:25:00                  23  [sub_1, sub_16]             []
112 2012-01-20 08:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
113 2012-01-20 08:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
114 2012-01-20 08:55:00                  23  [sub_1, sub_16]             []
115 2012-01-20 09:00:00                  23  [sub_1, sub_16]             []
116 2012-01-20 09:05:00                  23  [sub_1, sub_16]             []
117 2012-01-20 09:10:00                  23  [sub_1, sub_16]             []
118 2012-01-20 09:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
119 2012-01-20 09:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
120 2012-01-20 10:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
121 2012-01-20 18:05:00                  23  [sub_1, sub_16]             []
122 2012-01-20 18:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
123 2012-01-20 18:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
124 2012-01-20 18:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
125 2012-01-20 19:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
126 2012-01-20 19:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
127 2012-01-20 19:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
128 2012-01-20 19:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
129 2012-01-20 19:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
130 2012-01-20 20:00:00                  23  [sub_1, sub_16]             []
131 2012-01-20 20:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
132 2012-01-20 20:15:00                  23  [sub_1, sub_16]             []
133 2012-01-20 20:20:00                  23  [sub_1, sub_16]             []
134 2012-01-20 20:25:00                  23  [sub_1, sub_16]             []
135 2012-01-20 20:30:00                  23  [sub_1, sub_16]             []
136 2012-01-20 20:35:00                  23  [sub_1, sub_16]             []
137 2012-01-20 20:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
138 2012-01-20 20:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
139 2012-01-20 21:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
140 2012-01-21 01:55:00                   5      [sub_28]             []
141 2012-01-21 02:00:00                   6       [sub_7]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
142 2012-06-20 01:25:00                  23  [sub_1, sub_16]             []
143 2012-06-20 01:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
144 2012-06-20 01:40:00                  23  [sub_1, sub_16]             []
145 2012-06-20 01:45:00                  23  [sub_1, sub_16]             []
146 2012-06-20 01:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
147 2012-06-20 02:05:00                  23  [sub_1, sub_16]             []
148 2012-06-20 02:10:00                  23  [sub_1, sub_16]             []
149 2012-06-20 02:15:00                  23  [sub_1, sub_16]             []
150 2012-06-20 02:20:00                  23  [sub_1, sub_16]             []
151 2012-06-20 02:25:00                  23  [sub_1, sub_16]             []
152 2012-06-20 02:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
153 2012-06-20 02:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
154 2012-06-20 03:25:00                   6       [sub_1]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
155 2012-06-20 08:10:00                  23  [sub_1, sub_16]             []
156 2012-06-20 08:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
157 2012-06-20 08:35:00                  23  [sub_1, sub_16]             []
158 2012-06-20 08:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
159 2012-06-20 08:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
160 2012-06-20 09:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
161 2012-06-20 09:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
162 2012-06-20 09:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
163 2012-06-20 09:55:00                  23  [sub_1, sub_16]             []
164 2012-06-20 10:00:00                  23  [sub_1, sub_16]             []
165 2012-06-20 10:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
166 2012-06-20 10:15:00                  23  [sub_1, sub_16]             []
167 2012-06-20 10:20:00                  23  [sub_1, sub_16]             []
168 2012-06-20 10:25:00                  23  [sub_1, sub_16]             []
169 2012-06-20 10:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
170 2012-06-20 10:40:00                  23  [sub_1, sub_16]             []
171 2012-06-20 10:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
172 2012-06-20 10:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
173 2012-06-20 11:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
174 2012-06-20 11:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
175 2012-06-20 11:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
176 2012-06-20 11:55:00                  23  [sub_1, sub_16]             []
177 2012-06-20 12:00:00                  23  [sub_1, sub_16]             []
178 2012-06-20 12:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
179 2012-06-20 12:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
180 2012-06-21 07:40:00                   6       [sub_1]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
181 2012-06-23 03:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
182 2012-06-23 03:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
183 2012-06-23 03:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
184 2012-06-23 04:10:00                  23  [sub_1, sub_16]             []
185 2012-06-23 04:15:00                  23  [sub_1, sub_16]             []
186 2012-06-23 04:20:00                  23  [sub_1, sub_16]             []
187 2012-06-23 04:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
188 2012-06-23 06:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
189 2012-06-23 06:25:00                  23  [sub_1, sub_16]             []
190 2012-06-23 06:30:00                  23  [sub_1, sub_16]             []
191 2012-06-23 06:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
192 2012-06-23 07:00:00                  23  [sub_1, sub_16]             []
193 2012-06-23 07:05:00                  23  [sub_1, sub_16]             []
194 2012-06-23 07:10:00                  23  [sub_1, sub_16]             []
195 2012-06-23 07:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
196 2012-09-06 00:15:00                   5      [sub_28]             []
197 2012-09-06 00:20:00                   8      [sub_21]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
198 2012-11-05 08:35:00                  23  [sub_1, sub_16]             []
199 2012-11-05 08:40:00                  23  [sub_1, sub_16]             []
200 2012-11-05 08:45:00                  23  [sub_1, sub_16]             []
201 2012-11-05 08:50:00                  23  [sub_1, sub_16]             []
202 2012-11-05 08:55:00                  23  [sub_1, sub_16]             []
203 2012-11-05 09:00:00                  23  [sub_1, sub_16]             []
204 2012-11-05 09:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
205 2012-11-05 09:25:00                  23  [sub_1, sub_16]             []
206 2012-11-05 09:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
207 2012-11-05 09:40:00                  23  [sub_1, sub_16]             []
208 2012-11-05 09:45:00                  23  [sub_1, sub_16]             []
209 2012-11-05 09:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
210 2012-11-05 10:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
211 2012-11-05 10:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
212 2012-11-05 10:20:00                  23  [sub_1, sub_16]             []
213 2012-11-05 10:25:00                  23  [sub_1, sub_16]             []
214 2012-11-05 10:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
215 2012-11-05 11:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
216 2012-11-05 14:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
217 2012-11-05 14:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
218 2012-11-05 14:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
219 2012-11-05 15:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
220 2012-11-05 15:15:00                  23  [sub_1, sub_16]             []
221 2012-11-05 15:20:00                  23  [sub_1, sub_16]             []
222 2012-11-05 15:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
223 2012-11-05 15:35:00                   9      [sub_26]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
224 2012-05-05 17:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
225 2012-05-05 17:30:00                  23  [sub_1, sub_16]             []
226 2012-05-05 17:35:00                  23  [sub_1, sub_16]             []
227 2012-05-05 17:40:00                  23  [sub_1, sub_16]             []
228 2012-05-05 17:45:00                  23  [sub_1, sub_16]             []
229 2012-05-05 17:50:00                  23  [sub_1, sub_16]             []
230 2012-05-05 17:55:00                  23  [sub_1, sub_16]             []
231 2012-05-05 18:00:00                  23  [sub_1, sub_16]             []
232 2012-05-05 18:05:00                  23  [sub_1, sub_16]             []
233 2012-05-05 18:10:00                  23  [sub_1, sub_16]             []
234 2012-05-05 18:15:00                  23  [sub_1, sub_16]             []
235 2012-05-05 18:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
236 2012-05-05 18:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
237 2012-05-05 20:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
238 2012-05-05 21:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
239 2012-05-05 21:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
240 2012-05-05 21:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
241 2012-05-05 22:25:00                  23  [sub_1, sub_16]             []
242 2012-05-05 22:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
243 2012-05-06 01:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
244 2012-05-06 01:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
245 2012-05-06 02:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
246 2012-05-06 02:20:00                  23  [sub_1, sub_16]             []
247 2012-05-06 02:25:00                   6          [sub_1]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
248 2012-05-08 08:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
249 2012-05-08 08:45:00                  23  [sub_1, sub_16]             []
250 2012-05-08 08:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
251 2012-05-08 09:00:00                  23  [sub_1, sub_16]             []
252 2012-05-08 09:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
253 2012-05-08 09:30:00                  23  [sub_1, sub_16]             []
254 2012-05-08 09:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
255 2012-05-08 09:45:00                  23  [sub_1, sub_16]             []
256 2012-05-08 09:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
257 2012-05-08 10:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
258 2012-05-08 10:55:00                  23  [sub_1, sub_16]             []
259 2012-05-08 11:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
260 2012-05-08 11:20:00                  23  [sub_1, sub_16]             []
261 2012-05-08 11:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
262 2012-05-08 11:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
263 2012-05-08 11:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
264 2012-05-08 12:15:00                  23  [sub_1, sub_16]             []
265 2012-05-08 12:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
266 2012-05-08 12:30:00                  23  [sub_1, sub_16]             []
267 2012-05-08 12:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
268 2012-05-08 12:55:00                  23  [sub_1, sub_16]             []
269 2012-05-08 13:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
270 2012-05-08 13:15:00                  23  [sub_1, sub_16]             []
271 2012-05-08 13:20:00                  23  [sub_1, sub_16]             []
272 2012-05-08 13:25:00                  23  [sub_1, sub_16]             []
273 2012-05-08 13:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
274 2012-05-08 13:50:00                  23  [sub_1, sub_16]             []
275 2012-05-08 13:55:00                  23  [sub_1, sub_16]             []
276 2012-05-08 14:00:00                  23  [sub_1, sub_16]             []
277 2012-05-08 14:05:00                  23  [sub_1, sub_16]             []
278 2012-05-08 14:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
279 2012-05-08 14:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
280 2012-05-08 14:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
281 2012-05-08 14:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
282 2012-05-09 07:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
283 2012-05-09 08:05:00                  23  [sub_1, sub_16]             []
284 2012-05-09 08:10:00                  23  [sub_1, sub_16]             []
285 2012-05-09 08:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
286 2012-05-09 08:25:00                  23  [sub_1, sub_16]             []
287 2012-05-09 08:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
288 2012-05-09 08:45:00                  23  [sub_1, sub_16]             []
289 2012-05-09 08:50:00                  23  [sub_1, sub_16]             []
290 2012-05-09 08:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
291 2012-05-09 09:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
292 2012-05-09 09:20:00                  23  [sub_1, sub_16]             []
293 2012-05-09 09:25:00                  23  [sub_1, sub_16]             []
294 2012-05-09 09:30:00                  23  [sub_1, sub_16]             []
295 2012-05-09 09:35:00                  23  [sub_1, sub_16]             []
296 2012-05-09 09:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
297 2012-05-09 09:55:00                  23  [sub_1, sub_16]             []
298 2012-05-09 10:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
299 2012-05-09 10:30:00                  23  [sub_1, sub_16]             []
300 2012-05-09 10:35:00                  23  [sub_1, sub_16]             []
301 2012-05-09 10:40:00                  23  [sub_1, sub_16]             []
302 2012-05-09 10:45:00                  23  [sub_1, sub_16]             []
303 2012-05-09 10:50:00                  23  [sub_1, sub_16]             []
304 2012-05-09 10:55:00                  23  [sub_1, sub_16]             []
305 2012-05-09 11:00:00                  23  [sub_1, sub_16]             []
306 2012-05-09 11:05:00                  23  [sub_1, sub_16]             []
307 2012-05-09 11:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
308 2012-05-09 11:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
309 2012-05-09 11:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
310 2012-05-09 11:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
311 2012-05-09 12:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
312 2012-05-09 12:20:00                  23  [sub_1, sub_16]             []
313 2012-05-09 12:25:00                  23  [sub_1, sub_16]             []
314 2012-05-09 12:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
315 2012-05-09 12:45:00                  23  [sub_1, sub_16]             []
316 2012-05-09 12:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
317 2012-05-09 13:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
318 2012-05-09 13:15:00                  23  [sub_1, sub_16]             []
319 2012-05-09 13:20:00                  23  [sub_1, sub_16]             []
320 2012-05-09 13:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
321 2012-05-09 13:35:00                  23  [sub_1, sub_16]             []
322 2012-05-09 13:40:00                  23  [sub_1, sub_16]             []
323 2012-05-09 13:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
324 2012-05-09 19:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
325 2012-05-09 19:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
326 2012-05-09 19:30:00                   6       [sub_1]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
327 2012-05-10 06:05:00                   5      [sub_28]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
328 2012-05-11 03:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
329 2012-05-11 03:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
330 2012-10-11 19:10:00                  23  [sub_1, sub_16]             []
331 2012-10-11 19:15:00                  23  [sub_1, sub_16]             []
332 2012-10-11 19:20:00                  23  [sub_1, sub_16]             []
333 2012-10-11 19:25:00                   9         [sub_26]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
334 2012-10-12 09:10:00                   9      [sub_26]             []
335 2012-10-12 09:15:00                  17      [sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
336 2012-04-17 09:05:00                   5      [sub_28]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
337 2012-04-17 12:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
338 2012-04-17 12:35:00                  23  [sub_1, sub_16]             []
339 2012-04-17 12:40:00                  23  [sub_1, sub_16]             []
340 2012-04-17 12:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
341 2012-04-18 09:10:00                  23  [sub_1, sub_16]             []
342 2012-04-18 09:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
343 2012-04-18 09:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
344 2012-04-18 09:45:00                  23  [sub_1, sub_16]             []
345 2012-04-18 09:50:00                  23  [sub_1, sub_16]             []
346 2012-04-18 09:55:00                  23  [sub_1, sub_16]             []
347 2012-04-18 10:00:00                  23  [sub_1, sub_16]             []
348 2012-04-18 10:05:00                  23  [sub_1, sub_16]             []
349 2012-04-18 10:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
350 2012-04-18 10:20:00                  23  [sub_1, sub_16]             []
351 2012-04-18 10:25:00                  23  [sub_1, sub_16]             []
352 2012-04-18 10:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
353 2012-04-18 10:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
354 2012-04-18 10:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
355 2012-04-18 11:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
356 2012-04-18 11:15:00                  23  [sub_1, sub_16]             []
357 2012-04-18 11:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
358 2012-04-18 11:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
359 2012-04-18 12:15:00                  23  [sub_1, sub_16]             []
360 2012-04-18 12:20:00                  23  [sub_1, sub_16]             []
361 2012-04-18 12:25:00                  23  [sub_1, sub_16]             []
362 2012-04-18 12:30:00                  23  [sub_1, sub_16]             []
363 2012-04-18 12:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
364 2012-04-18 12:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
365 2012-04-18 12:55:00                  23  [sub_1, sub_16]             []
366 2012-04-18 13:00:00                  23  [sub_1, sub_16]             []
367 2012-04-18 13:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
368 2012-04-18 13:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
369 2012-04-18 13:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
370 2012-04-19 04:30:00                  17      [sub_16]             []
371 2012-04-19 04:35:00                   6       [sub_7]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
372 2012-04-19 04:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
373 2012-04-19 05:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
374 2012-04-19 05:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
375 2012-04-20 10:05:00                   6       [sub_7]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
376 2012-04-22 05:20:00                  23  [sub_1, sub_16]             []
377 2012-04-22 05:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
378 2012-04-23 18:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
379 2012-04-23 19:15:00                   6       [sub_1]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
380 2012-02-16 06:00:00                   5      [sub_28]             []
381 2012-02-16 06:05:00                  17      [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
382 2012-12-04 08:35:00                  23  [sub_1, sub_16]             []
383 2012-12-04 08:40:00                  23  [sub_1, sub_16]             []
384 2012-12-04 08:45:00                  23  [sub_1, sub_16]             []
385 2012-12-04 08:50:00                  23  [sub_1, sub_16]             []
386 2012-12-04 08:55:00                  23  [sub_1, sub_16]             []
387 2012-12-04 09:00:00                  23  [sub_1, sub_16]             []
388 2012-12-04 09:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
389 2012-12-04 09:30:00                  23  [sub_1, sub_16]             []
390 2012-12-04 09:35:00                  17         [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
391 2012-12-04 18:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
392 2012-12-04 18:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
393 2012-12-04 18:50:00                   9      [sub_26]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
394 2012-12-04 21:40:00                   9      [sub_26]             []
395 2012-12-04 21:45:00                  17      [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
396 2012-09-19 09:10:00                   5         [sub_28]             []
397 2012-09-19 09:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
398 2012-09-19 09:25:00                  10      [sub_23]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
399 2012-09-19 15:55:00                  23  [sub_1, sub_16]             []
400 2012-09-19 16:00:00                   8         [sub_21]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
401 2012-09-19 16:15:00                   7       [sub_9]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
402 2012-09-19 16:25:00                  17         [sub_16]             []
403 2012-09-19 16:30:00                  23  [sub_1, sub_16]             []
404 2012-09-19 16:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
405 2012-09-19 16:50:00                  10         [sub_23]             []
406 2012-09-19 16:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
407 2012-09-19 17:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
408 2012-09-19 17:15:00                  10      [sub_23]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
409 2012-09-20 10:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
410 2012-09-20 10:30:00                  23  [sub_1, sub_16]             []
411 2012-09-20 10:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
412 2012-09-20 10:45:00                  23  [sub_1, sub_16]             []
413 2012-09-20 10:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
414 2012-09-20 11:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
415 2012-09-20 11:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
416 2012-09-20 11:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
417 2012-09-20 11:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
418 2012-09-20 12:00:00                  23  [sub_1, sub_16]             []
419 2012-09-20 12:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
420 2012-09-20 12:25:00                  23  [sub_1, sub_16]             []
421 2012-09-20 12:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
422 2012-09-20 12:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
423 2012-09-20 12:50:00                  23  [sub_1, sub_16]             []
424 2012-09-20 12:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
425 2012-09-20 13:10:00                  23  [sub_1, sub_16]             []
426 2012-09-20 13:15:00                  23  [sub_1, sub_16]             []
427 2012-09-20 13:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
428 2012-05-20 18:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
429 2012-05-22 04:10:00                  23  [sub_1, sub_16]             []
430 2012-05-22 04:15:00                  23  [sub_1, sub_16]             []
431 2012-05-22 04:20:00                  23  [sub_1, sub_16]             []
432 2012-05-22 04:25:00                  23  [sub_1, sub_16]             []
433 2012-05-22 04:30:00                  23  [sub_1, sub_16]             []
434 2012-05-22 04:35:00                  23  [sub_1, sub_16]             []
435 2012-05-22 04:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
436 2012-05-22 04:55:00                  23  [sub_1, sub_16]             []
437 2012-05-22 05:00:00                  23  [sub_1, sub_16]             []
438 2012-05-22 05:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
439 2012-05-22 05:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
440 2012-03-12 17:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
441 2012-03-12 18:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
442 2012-03-12 18:20:00                  23  [sub_1, sub_16]             []
443 2012-03-12 18:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
444 2012-03-12 18:35:00                  23  [sub_1, sub_16]             []
445 2012-03-12 18:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
446 2012-03-12 18:50:00                  23  [sub_1, sub_16]             []
447 2012-03-12 18:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
448 2012-03-12 19:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
449 2012-03-12 20:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
450 2012-03-12 20:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
451 2012-03-13 08:25:00                   5         [sub_28]             []
452 2012-03-13 08:30:00                  17         [sub_16]             []
453 2012-03-13 08:35:00                   6          [sub_4]             []
454 2012-03-13 08:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
455 2012-03-13 08:50:00                  23  [sub_1, sub_16]             []
456 2012-03-13 08:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
457 2012-03-13 09:35:00                  10      [sub_23]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
458 2012-03-13 09:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
459 2012-03-13 10:00:00                  23  [sub_1, sub_16]             []
460 2012-03-13 10:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
461 2012-03-13 10:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
462 2012-03-13 10:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
463 2012-03-13 11:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
464 2012-03-13 11:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
465 2012-03-13 11:35:00                  23  [sub_1, sub_16]             []
466 2012-03-13 11:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
467 2012-03-13 11:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
468 2012-03-13 12:20:00                  23  [sub_1, sub_16]    [62_58_180]
469 2012-03-13 12:25:00                  23  [sub_1, sub_16]    [62_58_180]

              Timestamp  NB unitary actions    Impacted subs Impacted lines
470 2012-03-13 12:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
471 2012-03-13 12:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
472 2012-03-13 13:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
473 2012-03-13 13:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
474 2012-03-13 13:25:00                  23  [sub_1, sub_16]             []
475 2012-03-13 13:30:00                  23  [sub_1, sub_16]             []
476 2012-03-13 13:35:00                  23  [sub_1, sub_16]             []
477 2012-03-13 13:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
478 2012-03-13 13:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
479 2012-03-13 14:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
480 2012-03-13 14:30:00                  23  [sub_1, sub_16]             []
481 2012-03-13 14:35:00                  23  [sub_1, sub_16]             []
482 2012-03-13 14:40:00                  17         [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
483 2012-03-13 15:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
484 2012-03-13 16:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
485 2012-03-13 16:20:00                  23  [sub_1, sub_16]             []
486 2012-03-13 16:25:00                  10         [sub_23]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
487 2012-03-14 11:35:00                  10      [sub_23]             []
488 2012-03-14 11:40:00                  17      [sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
489 2012-07-17 06:20:00                   5      [sub_28]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
490 2012-07-20 03:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
491 2012-07-20 03:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
492 2012-07-20 03:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
493 2012-07-20 04:10:00                  23  [sub_1, sub_16]             []
494 2012-07-20 04:15:00                   6          [sub_1]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
495 2012-06-10 22:05:00                  23  [sub_1, sub_16]             []
496 2012-06-10 22:10:00                  23  [sub_1, sub_16]             []
497 2012-06-10 22:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
498 2012-06-10 23:55:00                  23  [sub_1, sub_16]             []
499 2012-06-11 00:00:00                  23  [sub_1, sub_16]             []
500 2012-06-11 00:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
501 2012-06-11 01:30:00                   6       [sub_1]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
502 2012-06-11 22:25:00                   5      [sub_28]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
503 2012-06-11 22:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
504 2012-06-11 22:50:00                  17      [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
505 2012-06-13 10:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
506 2012-06-13 10:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
507 2012-06-13 11:00:00                  23  [sub_1, sub_16]             []
508 2012-06-13 11:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
509 2012-06-13 11:15:00                  23  [sub_1, sub_16]             []
510 2012-06-13 11:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
511 2012-06-13 11:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
512 2012-06-13 11:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
513 2012-06-13 12:05:00                  23  [sub_1, sub_16]             []
514 2012-06-13 12:10:00                  23  [sub_1, sub_16]             []
515 2012-06-13 12:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
516 2012-06-13 12:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
517 2012-06-13 12:45:00                  23  [sub_1, sub_16]             []
518 2012-06-13 12:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
519 2012-06-13 20:00:00                   6       [sub_1]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
520 2012-06-13 20:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
521 2012-06-13 21:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
522 2012-06-13 21:15:00                  23  [sub_1, sub_16]             []
523 2012-06-13 21:20:00                  23  [sub_1, sub_16]             []
524 2012-06-13 21:25:00                  23  [sub_1, sub_16]             []
525 2012-06-13 21:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
526 2012-06-13 21:45:00                  23  [sub_1, sub_16]             []
527 2012-06-13 21:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
528 2012-06-13 22:00:00                  23  [sub_1, sub_16]             []
529 2012-06-13 22:05:00                  23  [sub_1, sub_16]             []
530 2012-06-13 22:10:00                  17         [sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
531 2012-10-21 02:15:00                   5      [sub_28]             []
532 2012-10-21 02:20:00                   8      [sub_21]             []
533 2012-10-21 02:25:00                   7      [sub_33]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
534 2012-03-19 17:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
535 2012-03-19 18:05:00                  23  [sub_1, sub_16]             []
536 2012-03-19 18:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
537 2012-03-19 18:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
538 2012-03-19 19:00:00                  23  [sub_1, sub_16]             []
539 2012-03-19 19:05:00                  23  [sub_1, sub_16]             []
540 2012-03-19 19:10:00                  23  [sub_1, sub_16]             []
541 2012-03-19 19:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
542 2012-03-19 19:25:00                  23  [sub_1, sub_16]             []
543 2012-03-19 19:30:00                  23  [sub_1, sub_16]             []
544 2012-03-19 19:35:00                  23  [sub_1, sub_16]             []
545 2012-03-19 19:40:00                  23  [sub_1, sub_16]             []
546 2012-03-19 19:45:00                  23  [sub_1, sub_16]             []
547 2012-03-19 19:50:00                  23  [sub_1, sub_16]             []
548 2012-03-19 19:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
549 2012-03-19 20:10:00                  23  [sub_1, sub_16]             []
550 2012-03-19 20:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
551 2012-03-21 19:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
552 2012-03-21 19:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
553 2012-03-21 19:35:00                  23  [sub_1, sub_16]             []
554 2012-03-21 19:40:00                  23  [sub_1, sub_16]             []
555 2012-03-21 19:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
556 2012-03-22 11:20:00                  17         [sub_16]             []
557 2012-03-22 11:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
558 2012-03-22 11:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
559 2012-03-22 11:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
560 2012-03-22 12:05:00                  23  [sub_1, sub_16]             []
561 2012-03-22 12:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
562 2012-03-22 12:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
563 2012-03-22 13:00:00                  23  [sub_1, sub_16]             []
564 2012-03-22 13:05:00                  23  [sub_1, sub_16]             []
565 2012-03-22 13:10:00                  23  [sub_1, sub_16]             []
566 2012-03-22 13:15:00                  23  [sub_1, sub_16]             []
567 2012-03-22 13:20:00                  23  [sub_1, sub_16]             []
568 2012-03-22 13:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
569 2012-03-22 13:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
570 2012-03-22 13:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
571 2012-03-22 14:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
572 2012-03-22 14:15:00                  23  [sub_1, sub_16]             []
573 2012-03-22 14:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
574 2012-03-22 14:30:00                  23  [sub_1, sub_16]             []
575 2012-03-22 14:35:00                  23  [sub_1, sub_16]             []
576 2012-03-22 14:40:00                  23  [sub_1, sub_16]             []
577 2012-03-22 14:45:00                  23  [sub_1, sub_16]             []
578 2012-03-22 14:50:00                  23  [sub_1, sub_16]             []
579 2012-03-22 14:55:00                  23  [sub_1, sub_16]             []
580 2012-03-22 15:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
581 2012-03-23 16:05:00                  23  [sub_1, sub_16]             []
582 2012-03-23 16:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
583 2012-03-23 16:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
584 2012-03-23 16:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
585 2012-03-23 16:50:00                  23  [sub_1, sub_16]             []
586 2012-03-23 16:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
587 2012-03-23 17:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
588 2012-03-23 17:50:00                   9      [sub_26]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
589 2012-03-23 18:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
590 2012-03-23 18:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
591 2012-03-23 18:50:00                  23  [sub_1, sub_16]             []
592 2012-03-23 18:55:00                  23  [sub_1, sub_16]             []
593 2012-03-23 19:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
594 2012-03-23 19:30:00                  23  [sub_1, sub_16]             []
595 2012-03-23 19:35:00                  23  [sub_1, sub_16]             []
596 2012-03-23 19:40:00                  23  [sub_1, sub_16]             []
597 2012-03-23 19:45:00                  23  [sub_1, sub_16]             []
598 2012-03-23 19:50:00                  23  [sub_1, sub_16]             []
599 2012-03-23 19:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
600 2012-12-15 17:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
601 2012-12-15 17:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
602 2012-12-15 17:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
603 2012-12-15 18:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
604 2012-12-15 19:50:00                  17      [sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
605 2012-12-16 17:10:00                   8      [sub_21]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
606 2012-12-16 17:50:00                  10      [sub_23]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
607 2012-12-16 18:05:00                   8         [sub_21]             []
608 2012-12-16 18:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
609 2012-02-02 16:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
610 2012-02-02 17:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
611 2012-02-02 17:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
612 2012-02-02 17:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
613 2012-02-02 18:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
614 2012-02-02 18:30:00                  23  [sub_1, sub_16]             []
615 2012-02-02 18:35:00                  23  [sub_1, sub_16]             []
616 2012-02-02 18:40:00                  23  [sub_1, sub_16]             []
617 2012-02-02 18:45:00                  17         [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
618 2012-02-03 19:05:00                  23  [sub_1, sub_16]             []
619 2012-02-03 19:10:00                  10         [sub_23]             []
620 2012-02-03 19:15:00                   9         [sub_26]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
621 2012-02-03 19:25:00                  23  [sub_1, sub_16]             []
622 2012-02-03 19:30:00                  23  [sub_1, sub_16]             []
623 2012-02-03 19:35:00                  23  [sub_1, sub_16]             []
624 2012-02-03 19:40:00                  23  [sub_1, sub_16]             []
625 2012-02-03 19:45:00                  23  [sub_1, sub_16]             []
626 2012-02-03 19:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
627 2012-02-03 20:05:00                  23  [sub_1, sub_16]             []
628 2012-02-03 20:10:00                  23  [sub_1, sub_16]             []
629 2012-02-03 20:15:00                  23  [sub_1, sub_16]             []
630 2012-02-03 20:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
631 2012-02-03 20:30:00                  23  [sub_1, sub_16]             []
632 2012-02-03 20:35:00                  23  [sub_1, sub_16]             []
633 2012-02-03 20:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
634 2012-02-03 20:50:00                  23  [sub_1, sub_16]             []
635 2012-02-03 20:55:00                  23  [sub_1, sub_16]             []
636 2012-02-03 21:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
637 2012-02-04 18:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
638 2012-02-04 19:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
639 2012-02-04 19:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
640 2012-02-04 19:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
641 2012-02-05 07:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
642 2012-02-05 07:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
643 2012-02-05 08:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
644 2012-02-05 08:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
645 2012-02-05 08:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
646 2012-02-05 08:50:00                  17      [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
647 2012-02-05 18:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
648 2012-02-05 18:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
649 2012-02-05 19:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
650 2012-02-05 19:10:00                  23  [sub_1, sub_16]             []
651 2012-02-05 19:15:00                  23  [sub_1, sub_16]             []
652 2012-02-05 19:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
653 2012-02-05 19:35:00                  23  [sub_1, sub_16]             []
654 2012-02-05 19:40:00                  23  [sub_1, sub_16]             []
655 2012-02-05 19:45:00                  23  [sub_1, sub_16]             []
656 2012-02-05 19:50:00                  23  [sub_1, sub_16]             []
657 2012-02-05 19:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
658 2012-02-05 20:05:00                  23  [sub_1, sub_16]             []
659 2012-02-05 20:10:00                  23  [sub_1, sub_16]             []
660 2012-02-05 20:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
661 2012-02-05 20:30:00                  23  [sub_1, sub_16]             []
662 2012-02-05 20:35:00                  23  [sub_1, sub_16]             []
663 2012-02-05 20:40:00                  23  [sub_1, sub_16]             []
664 2012-02-05 20:45:00                  23  [sub_1, sub_16]             []
665 2012-02-05 20:50:00                  23  [sub_1, sub_16]             []
666 2012-02-05 20:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
667 2012-02-05 21:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
668 2012-02-05 21:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
669 2012-02-05 21:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
670 2012-02-05 21:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
671 2012-02-05 22:00:00                  23  [sub_1, sub_16]             []
672 2012-02-05 22:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
673 2012-02-05 23:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
674 2012-02-05 23:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
675 2012-02-05 23:30:00                  23  [sub_1, sub_16]             []
676 2012-02-05 23:35:00                  23  [sub_1, sub_16]             []
677 2012-02-05 23:40:00                  23  [sub_1, sub_16]             []

     Timestamp  NB unitary actions    Impacted subs Impacted lines
678 2012-02-06                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
679 2012-02-06 00:15:00                  23  [sub_1, sub_16]             []
680 2012-02-06 00:20:00                  23  [sub_1, sub_16]             []
681 2012-02-06 00:25:00                  23  [sub_1, sub_16]             []
682 2012-02-06 00:30:00                  23  [sub_1, sub_16]             []
683 2012-02-06 00:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
684 2012-02-06 00:45:00                  23  [sub_1, sub_16]             []
685 2012-02-06 00:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
686 2012-02-06 08:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
687 2012-02-06 08:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
688 2012-02-06 08:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
689 2012-02-06 11:25:00                  23  [sub_1, sub_16]             []
690 2012-02-06 11:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
691 2012-02-06 11:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
692 2012-02-06 11:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
693 2012-02-06 12:00:00                  23  [sub_1, sub_16]             []
694 2012-02-06 12:05:00                  23  [sub_1, sub_16]             []
695 2012-02-06 12:10:00                  23  [sub_1, sub_16]             []
696 2012-02-06 12:15:00                  23  [sub_1, sub_16]             []
697 2012-02-06 12:20:00                  17         [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
698 2012-02-06 18:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
699 2012-02-06 19:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
700 2012-02-06 19:25:00                   3         [sub_11]             []
701 2012-02-06 19:30:00                  23  [sub_1, sub_16]             []
702 2012-02-06 19:35:00                  23  [sub_1, sub_16]             []
703 2012-02-06 19:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
704 2012-02-07 18:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
705 2012-02-07 18:45:00                  23  [sub_1, sub_16]             []
706 2012-02-07 18:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
707 2012-02-07 19:10:00                  23  [sub_1, sub_16]             []
708 2012-02-07 19:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
709 2012-02-07 19:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
710 2012-02-07 19:50:00                  23  [sub_1, sub_16]             []
711 2012-02-07 19:55:00                  23  [sub_1, sub_16]             []
712 2012-02-07 20:00:00                  23  [sub_1, sub_16]             []
713 2012-02-07 20:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
714 2012-02-07 20:15:00                  23  [sub_1, sub_16]             []
715 2012-02-07 20:20:00                  23  [sub_1, sub_16]             []
716 2012-02-07 20:25:00                  23  [sub_1, sub_16]             []
717 2012-02-07 20:30:00                  23  [sub_1, sub_16]             []
718 2012-02-07 20:35:00                  23  [sub_1, sub_16]             []
719 2012-02-07 20:40:00                  23  [sub_1, sub_16]             []
720 2012-02-07 20:45:00                  23  [sub_1, sub_16]             []
721 2012-02-07 20:50:00                  23  [sub_1, sub_16]             []
722 2012-02-07 20:55:00                  23  [sub_1, sub_16]             []
723 2012-02-07 21:00:00                  23  [sub_1, sub_16]             []
724 2012-02-07 21:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
725 2012-02-07 23:15:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
726 2012-02-08 00:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
727 2012-02-08 01:35:00                   6       [sub_7]             []
728 2012-02-08 01:40:00                  10      [sub_23]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
729 2012-08-07 04:20:00                  23  [sub_1, sub_16]             []
730 2012-08-07 04:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
731 2012-08-07 04:35:00                   5         [sub_28]             []
732 2012-08-07 04:40:00                  17         [sub_16]             []
733 2012-08-07 04:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
734 2012-08-07 05:00:00                  23  [sub_1, sub_16]             []
735 2012-08-07 05:05:00                  23  [sub_1, sub_16]             []
736 2012-08-07 05:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
737 2012-08-07 05:25:00                  23  [sub_1, sub_16]             []
738 2012-08-07 05:30:00                  23  [sub_1, sub_16]             []
739 2012-08-07 05:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
740 2012-08-07 05:45:00                  23  [sub_1, sub_16]             []
741 2012-08-07 05:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
742 2012-08-09 07:00:00                  17         [sub_16]             []
743 2012-08-09 07:05:00                  23  [sub_1, sub_16]             []
744 2012-08-09 07:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
745 2012-08-09 07:20:00                  23  [sub_1, sub_16]             []
746 2012-08-09 07:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
747 2012-08-09 19:15:00                  23  [sub_1, sub_16]             []
748 2012-08-09 19:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
749 2012-08-09 19:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
750 2012-08-09 19:50:00                  17      [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
751 2012-08-10 19:05:00                  23  [sub_1, sub_16]             []
752 2012-08-10 19:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
753 2012-08-10 19:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
754 2012-08-10 19:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
755 2012-08-10 19:40:00                  23  [sub_1, sub_16]             []
756 2012-08-10 19:45:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
757 2012-08-10 19:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
758 2012-08-19 02:00:00                   5      [sub_28]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
759 2012-08-19 02:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
760 2012-08-19 02:55:00                  23  [sub_1, sub_16]             []
761 2012-08-19 03:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
762 2012-08-19 17:05:00                  23  [sub_1, sub_16]             []
763 2012-08-19 17:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
764 2012-08-19 17:20:00                  23  [sub_1, sub_16]             []
765 2012-08-19 17:25:00                  23  [sub_1, sub_16]             []
766 2012-08-19 17:30:00                   6          [sub_1]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
767 2012-08-20 18:55:00                  17         [sub_16]             []
768 2012-08-20 19:00:00                   7          [sub_9]             []
769 2012-08-20 19:05:00                  10         [sub_23]             []
770 2012-08-20 19:10:00                  23  [sub_1, sub_16]             []
771 2012-08-20 19:15:00                  23  [sub_1, sub_16]             []
772 2012-08-20 19:20:00                  23  [sub_1, sub_16]             []
773 2012-08-20 19:25:00                  23  [sub_1, sub_16]             []
774 2012-08-20 19:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
775 2012-08-20 19:50:00                  23  [sub_1, sub_16]             []
776 2012-08-20 19:55:00                  23  [sub_1, sub_16]             []
777 2012-08-20 20:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
778 2012-08-20 20:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
779 2012-08-20 20:40:00                  23  [sub_1, sub_16]             []
780 2012-08-20 20:45:00                  23  [sub_1, sub_16]             []
781 2012-08-20 20:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
782 2012-08-20 21:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
783 2012-08-20 22:55:00                  23  [sub_1, sub_16]             []
784 2012-08-20 23:00:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
785 2012-08-20 23:25:00                  23  [sub_1, sub_16]             []
786 2012-08-20 23:30:00                  23  [sub_1, sub_16]             []
787 2012-08-20 23:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
788 2012-08-20 23:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
789 2012-08-21 04:00:00                  17      [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
790 2012-08-21 06:20:00                  23  [sub_1, sub_16]             []
791 2012-08-21 06:25:00                  23  [sub_1, sub_16]             []
792 2012-08-21 06:30:00                  23  [sub_1, sub_16]             []
793 2012-08-21 06:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
794 2012-08-21 06:45:00                  23  [sub_1, sub_16]             []
795 2012-08-21 06:50:00                  23  [sub_1, sub_16]             []
796 2012-08-21 06:55:00                  23  [sub_1, sub_16]             []
797 2012-08-21 07:00:00                  17         [sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
798 2012-07-11 13:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
799 2012-07-11 14:30:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
800 2012-07-11 14:40:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
801 2012-07-11 14:50:00                  23  [sub_1, sub_16]             []
802 2012-07-11 14:55:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
803 2012-07-11 15:10:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
804 2012-07-11 15:25:00                   5      [sub_28]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
805 2012-07-11 16:25:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
806 2012-07-11 16:35:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
807 2012-07-11 16:45:00                  17         [sub_16]             []
808 2012-07-11 16:50:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
809 2012-07-11 17:05:00                   5      [sub_28]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
810 2012-07-12 22:15:00                  23  [sub_1, sub_16]             []
811 2012-07-12 22:20:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
812 2012-07-12 22:30:00                  23  [sub_1, sub_16]             []
813 2012-07-12 22:35:00                  23  [sub_1, sub_16]             []
814 2012-07-12 22:40:00                  23  [sub_1, sub_16]             []
815 2012-07-12 22:45:00                  23  [sub_1, sub_16]             []
816 2012-07-12 22:50:00                  23  [sub_1, sub_16]             []
817 2012-07-12 22:55:00                  23  [sub_1, sub_16]             []
818 2012-07-12 23:00:00                  23  [sub_1, sub_16]             []
819 2012-07-12 23:05:00                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
820 2012-07-12 23:45:00                  23  [sub_1, sub_16]             []
821 2012-07-12 23:50:00                  23  [sub_1, sub_16]             []

     Timestamp  NB unitary actions    Impacted subs Impacted lines
822 2012-07-13                  23  [sub_1, sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
823 2012-07-13 00:10:00                  17      [sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
824 2012-07-13 03:40:00                   6       [sub_1]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
825 2012-07-13 18:10:00                   6       [sub_1]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
826 2012-07-14 03:35:00                  23  [sub_1, sub_16]             []
827 2012-07-14 03:40:00                   6          [sub_1]             []

              Timestamp  NB unitary actions    Impacted subs Impacted lines
828 2012-04-10 08:20:00                  23  [sub_1, sub_16]             []
829 2012-04-10 08:25:00                  10         [sub_23]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
830 2012-04-11 12:25:00                  17      [sub_16]             []

              Timestamp  NB unitary actions Impacted subs Impacted lines
831 2012-04-13 21:25:00                   5      [sub_28]             []
832 2012-04-13 21:30:00                  10      [sub_23]             []

In [35]:
timestamp = '2012-12-15 18:30:00'

grid2op_act = iee_ppo_agent.get_action_by_timestamp(timestamp)

In [36]:
print(grid2op_act)

This action will:
	 - NOT change anything to the injections
	 - NOT perform any redispatching action
	 - NOT modify any storage capacity
	 - NOT perform any curtailment
	 - NOT force any line status
	 - NOT switch any line status
	 - NOT switch anything in the topology
	 - Set the bus of the following element(s):
	 	 - Assign bus 1 to line (origin) id 3 [on substation 1]
	 	 - Assign bus 1 to line (origin) id 4 [on substation 1]
	 	 - Assign bus 1 to line (origin) id 12 [on substation 1]
	 	 - Assign bus 1 to generator id 0 [on substation 1]
	 	 - Assign bus 1 to load id 2 [on substation 1]
	 	 - Assign bus 1 to load id 3 [on substation 1]
	 	 - Assign bus 2 to line (extremity) id 17 [on substation 16]
	 	 - Assign bus 2 to line (extremity) id 18 [on substation 16]
	 	 - Assign bus 2 to line (extremity) id 19 [on substation 16]
	 	 - Assign bus 1 to line (extremity) id 20 [on substation 16]
	 	 - Assign bus 2 to line (extremity) id 21 [on substation 16]
	 	 - Assign bus 2 to line (origin) id 22 [on substation 16]
	 	 - Assign bus 2 to line (origin) id 23 [on substation 16]
	 	 - Assign bus 2 to line (origin) id 27 [on substation 16]
	 	 - Assign bus 2 to line (origin) id 28 [on substation 16]
	 	 - Assign bus 2 to line (origin) id 48 [on substation 16]
	 	 - Assign bus 2 to line (origin) id 49 [on substation 16]
	 	 - Assign bus 1 to line (origin) id 54 [on substation 16]
	 	 - Assign bus 2 to generator id 5 [on substation 16]
	 	 - Assign bus 2 to generator id 6 [on substation 16]
	 	 - Assign bus 2 to generator id 7 [on substation 16]
	 	 - Assign bus 2 to generator id 8 [on substation 16]
	 	 - Assign bus 2 to load id 17 [on substation 16]

In [37]:
grid2op_act._check_for_ambiguity()

In [38]:
grid2op_obs = iee_ppo_agent.get_observation_by_timestamp(timestamp)

In [39]:
grid2op_obs.to_vect()

array([2012.,   12.,   15., ...,  138., 2016.,    5.], dtype=float32)